.messageAgency {
  .message__chat-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      column-gap: 17px;
    }
    button {
      border: none;
      background-color: transparent;
    }
  }
}
