body {
    // height: 2000px;
}

.DataBanner {
    width: 827.02px;

    &__title {
        font-family: Kanit Cyrillic;
        font-size: 30px;
        font-weight: 400;
        line-height: 31.23px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__contactDetails {
        &-title {
            width: 222px;
            height: 43px;
            background-color: #ffe1df;
            border-radius: 10px;
            font-family: PP Neue Machina;
            font-size: 18px;
            font-weight: 400;
            line-height: 17.37px;
            text-align: left;
            text-align: center;
            padding: 10px;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        &-emNum {
            display: flex;
            margin-bottom: 35px;

            &__input {
                border: none;
                border-bottom: 1px solid black;
                font-family: PP Neue Machina;
                font-size: 16px;
                font-weight: 400;
                line-height: 15.44px;
                text-align: left;
                outline: none;
                padding-bottom: 10px;
                margin-right: 20px;
            }
        }

        &-address {
            border-bottom: 1px solid black;
            width: 464px;
            display: flex;
            justify-content: space-between;

            &__input {
                border: none;
                font-family: PP Neue Machina;
                font-size: 16px;
                font-weight: 400;
                line-height: 15.44px;
                text-align: left;
                outline: none;
                padding-bottom: 10px;
            }
        }
    }

    &__companyName {
        &-title {
            width: 222px;
            height: 43px;
            background-color: #ffe1df;
            border-radius: 10px;
            font-family: PP Neue Machina;
            font-size: 18px;
            font-weight: 400;
            line-height: 17.37px;
            text-align: left;
            text-align: center;
            padding: 10px;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        &-inp {
            border-bottom: 1px solid black;
            width: 222px;
            display: flex;
            justify-content: space-between;
        }

        &-input {
            border: none;
            font-family: PP Neue Machina;
            font-size: 16px;
            font-weight: 400;
            line-height: 15.44px;
            text-align: left;
            outline: none;
            padding-bottom: 10px;
        }
    }

    &__aboutCompany {
        &-title {
            width: 222px;
            height: 43px;
            background-color: #ffe1df;
            border-radius: 10px;
            font-family: PP Neue Machina;
            font-size: 18px;
            font-weight: 400;
            line-height: 17.37px;
            // text-align: left;
            display: flex;
            align-items: center;
            justify-content: center;
            // text-align: center;
            padding: 10px;
            margin-top: 85px;
            margin-bottom: 25px;
        }

        &-inp {
            border-bottom: 1px solid black;
            // width: 525px;
            display: flex;
            justify-content: space-between;
        }

        &-input {
            border: none;
            font-family: PP Neue Machina;
            font-size: 16px;
            font-weight: 400;
            line-height: 15.44px;
            text-align: left;
            outline: none;
            padding-bottom: 10px;
        }
    }

    &__category {
        display: flex;
        justify-content: space-between;

        &-title {
            display: flex;
            justify-content: space-between;
            width: 464px;
            height: 52px;
            background-color: #ffe1df;
            border-radius: 10px;
            font-family: PP Neue Machina;
            font-size: 18px;
            font-weight: 400;
            line-height: 17.37px;
            text-align: left;
            text-align: center;
            padding: 10px;
            margin-top: 85px;
            margin-bottom: 25px;

            select {
                width: 100%;
                border: none;
                outline: none;
                background-color: #ffe1df;
            }
        }

        &-inp {
            margin-top: 100px;

            &__input {
                border: none;
                font-family: PP Neue Machina;
                font-size: 16px;
                font-weight: 400;
                outline: none;
            }
        }
    }

    &__container {
        &-title {
            width: 222px;
            height: 52px;
            border-radius: 10px;
            font-family: PP Neue Machina;
            font-size: 18px;
            font-weight: 400;
            line-height: 17.37px;
            // text-align: left;
            // text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin-top: 85px;
            margin-bottom: 25px;
        }

        &-con {
            display: flex;
            gap: 20px;

            &__block {
                border: none;
                font-size: 18px;
                font-weight: 400;
                line-height: 17.37px;
                text-align: left;
                width: auto;
                padding: 10px 15px;
                height: auto;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background-color: #9b2821;
                color: white;
                font-family: PP Neue Machina;
                text-align: center;
                margin-top: 25px;
            }

            &__block img {
                width: 21.92px;
            }

            // &__block:nth-child(4) {
            //     width: 101px;
            //     font-size: 20px;
            // }
        }
    }

    &__btn {
        margin-top: 85px;
        width: 827px;
        height: 65px;
        border-radius: 10px;
        background-color: #9b2821;
        color: white;
        font-family: PP Neue Machina;
        font-size: 25px;
        font-weight: 400;
        line-height: 24.12px;
        border: none;
    }
}

.dropzone {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 827px;
    height: 309px;
    border: 2px solid #E8504C;
    border-radius: 8px;
    background-color: #F5F5F5;
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s ease;

    &__banner {
        margin-top: 25px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;

        &-text {
            color: #000000;
            font-family: PP Neue Machina;
            font-size: 16px;
            border: none;
            padding: 8px;
            font-size: 16px;
            font-weight: 400;

            &-input {
                color: #000000;
                font-family: PP Neue Machina;
                font-size: 16px;
                border: none;
                padding: 8px;
                width: 200%;
                font-size: 16px;
                font-weight: 400;

                :focus {
                    outline: none;
                    border: none;
                    box-shadow: none;
                }

            }
        }

        &-line {
            width: 827px;
            height: 1px;
            background-color: #00000060;
        }
    }

    &:hover {
        border-color: #D73933;
    }

    .file-upload {
        display: none;
    }

    label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 100%;
        width: 100%;

        .upload-icon {
            width: 32px;
            height: 32px;
            background-image: url('../../../img/icons/upoad_icon.svg'); // Иконка загрузки
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 8px;
        }

        p {
            font-size: 16px;
            color: #333;
        }

        .preview-image {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            border-radius: 8px;
        }

        .error-message {
            color: #E8504C;
            margin-top: 10px;
            font-size: 14px;
        }
    }
}